<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>com.humber.atm.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <display-name>ATMManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.humber.atm.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.humber.atm.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.humber.atm.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServicesServlet</display-name>
    <servlet-name>ServicesServlet</servlet-name>
    <servlet-class>com.humber.atm.ServicesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServicesServlet</servlet-name>
    <url-pattern>/ServicesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBalanceServlet</display-name>
    <servlet-name>ViewBalanceServlet</servlet-name>
    <servlet-class>com.humber.atm.ViewBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBalanceServlet</servlet-name>
    <url-pattern>/ViewBalanceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreditAmountServlet</display-name>
    <servlet-name>CreditAmountServlet</servlet-name>
    <servlet-class>com.humber.atm.CreditAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreditAmountServlet</servlet-name>
    <url-pattern>/CreditAmountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DebitAmountServlet</display-name>
    <servlet-name>DebitAmountServlet</servlet-name>
    <servlet-class>com.humber.atm.DebitAmountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebitAmountServlet</servlet-name>
    <url-pattern>/DebitAmountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveMoneyServlet</display-name>
    <servlet-name>MoveMoneyServlet</servlet-name>
    <servlet-class>com.humber.atm.MoveMoneyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveMoneyServlet</servlet-name>
    <url-pattern>/MoveMoneyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewBankStatementServlet</display-name>
    <servlet-name>ViewBankStatementServlet</servlet-name>
    <servlet-class>com.humber.atm.ViewBankStatementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewBankStatementServlet</servlet-name>
    <url-pattern>/ViewBankStatementServlet</url-pattern>
  </servlet-mapping>
</web-app>